<ul class="sidebar__list">
  <li>
    <%= link_to(
      'Logout',
      destroy_admin_user_session_path,
      method: :delete,
      class: "sidebar__link"
    ) %>
  </li>

  <% Administrate::Namespace.new(namespace).resources.each do |resource| %>
    <li>
      <%= link_to(
        display_resource_name(resource),
        [namespace, resource],
        class: "sidebar__link sidebar__link--#{nav_link_state(resource)}"
      ) %>
    </li>
  <% end %>
</ul>
