<section class="ambassador">
  <h3 class="ambassador__header">Become An Ambassador</h3>
  <div class="ambassador__body">
    <div class="row">
      <div class="сol-xs-12 col-sm-8">
        <%= image_tag "ambassadors.jpg", alt: "Ambassador Image", class: "ambassador__img" %>
      </div>
      <div class="col-xs-12 col-sm-4 .ambassador__text">
        <p>Help us secure the future issues of The Beam by being an Ambassador of the coolest renewable energy magazine! Become a sponsor of an issue and we’ll print your name or your company’s name in the Ambassadors section in the back of the magazine.</p>
        <h4 class="ambassador__text-header">How It Works</h4>
        <p>
          As an ambassador, you show your support for The Beam through a small one-off payment of 100 euros which will get you...<br>
          <b>1</b> - Your name or that of your company (and website) printed in the back of our upcoming issue.<br>
          <b>2</b> - Two printed copies of that issue sent to you anywhere in the world.<br>
          <b>3</b> - A big thank you from the Beam Team.
        </p>
        <p>We have a limited number of 25 ambassador slots per issue, your name will be printed in our upcoming issue only. Send us an email at <%= mail_to "thebeam@gridhub.com" %> for more information.</p>
        <p>Thank you!</p>
      </div>
    </div>
  </div>
</section>
