<section class="testimonial default-link">
  <h3 class="header">What Our Readers Say</h3>
  <div class="body">
    <div class="row">
      <%= render partial: "testimonials/item", collection: @testimonials, as: :testimonial %>
    </div>
  </div>
</section>
