<section class="magazines">
  <h3 class="magazines__header">Subscribe Now</h3>
  <div class="magazines__body">
    <div class="row">
      <div class="col-xs-12">
        <%= link_to "https://the-beam-magazine.myshopify.com/products/subscribe-now", class: 'magazines__wrapper', target: "_blank" do %>
          <div class="magazines__image-wr">
            <%= image_tag "buy/image.png", alt: "#buildthebeam", class: "magazines__image" %>
          </div>
          <p class="magazines__txt">
            Don't let the energy transition leave you behind.
          </p>
          <p class="magazines__txt magazines__txt--n">
            Build The Beam with us
            for only 20 euros.
            <br>
            #buildthebeam
          </p>
          <p class="magazines__txt magazines__txt--sub">Subscribe now</p>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section class="testimonial">
  <h3 class="testimonial__header">What Our Readers Say</h3>
  <div class="testimonial__body">
    <div class="row">
      <%= render partial: "testimonials/item", collection: @testimonials, as: :testimonial %>
    </div>
  </div>
</section>
