<a name="#interviews"></a>
<section id="interviews">
  <h3 class="header">Interviews</h3>
  <div class="body">
    <div class="row">
      <%= render partial: "interviews/item", collection: @interviews, as: :interview %>
    </div>
  </div>
</section>
