<section>
  <h4>Impressum</h3>
  <p>
  Angaben gemäß § 5 TMG
  </p>
  <p>
  GridHub GmbH<br>
  Zehdenickerstrasse 1<br>
  10119 Berlin
  </p>
  <section>
    <h4>Vertreten durch:</h4>
    <p>
    Benjamin Schulz
    </p>
  </section>
  <section>
    <h4>Registereintrag:</h4>
    <p>
    Eintragung im Handelsregister: Berlin Charlottenburg<br>
    Registernummer: HRB 176688 B
    </p>
  </section>
  <section>
    <h4>Umsatzsteuer-ID:</h4>
    <p>
    Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: DE306734795
    </p>
  </section>
  <section>
    <h4>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h4>
    <p>
    Benjamin Schulz<br>
    Zehdenickerstrasse 1<br>
    10119 Berlin
    </p>
  </section>
</section>
