<section class="impressum">
  <section class="impressum__block">
    <h4 class="impressum__header">Impressum</h4>
    <p class="impressum__par">
    Angaben gemäß § 5 TMG
    </p>
    <p class="impressum__par">
    GridHub GmbH<br>
    Zehdenickerstrasse 1<br>
    10119 Berlin
    </p>
  </section>
  <section class="impressum__block">
    <h4 class="impressum__header">Vertreten durch:</h4>
    <p class="impressum__par">
    Benjamin Schulz
    </p>
  </section>
  <section class="impressum__block">
    <h4 class="impressum__header">Registereintrag:</h4>
    <p class="impressum__par">
    Eintragung im Handelsregister: Berlin Charlottenburg<br>
    Registernummer: HRB 176688 B
    </p>
  </section>
  <section class="impressum__block">
    <h4 class="impressum__header">Umsatzsteuer-ID:</h4>
    <p class="impressum__par">
    Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: DE306734795
    </p>
  </section>
  <section class="impressum__block">
    <h4 class="impressum__header">Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h4>
    <p class="impressum__par">
    Benjamin Schulz<br>
    Zehdenickerstrasse 1<br>
    10119 Berlin
    </p>
  </section>
</section>
