
@font-face {
  font-family: "Muli";
  font-weight: normal;
  src: font-url("muli/Muli.ttf");
}

@font-face {
  font-family: "Muli";
  font-weight: bold;
  src: font-url("muli/Muli-Bold.ttf");
}

@font-face {
  font-family: "Muli";
  font-weight: 500;
  src: url("/fonts/muli/Muli-SemiBold.ttf");
}

@font-face {
  font-family: "Muli";
  font-weight: 100;
  src: font-url("muli/Muli-Light.ttf");
}
