
@import "variables";
@import "fonts";
@import "mixin";
@import "common";

@import "menu";
@import "footer";
@import "button";
@import "editions";

@mixin link-color($color) {
  &,
  &:hover,
  &:active,
  &:visited,
  &:link {
    color: $color;
  }
}

a {
  @include link-color($color-1);
}

a,
a:hover,
a:active,
a:visited,
a:link {
  .default-link & {
    color: $blue-color;
  }
}

.subscribe {
  position: relative;

  img { width: 100%; }

  .white-circle {
    position: absolute;
    top: 50px;
    left: 50px;
  }

  .btn {
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -100px;
  }
}

.interviews .body {
  padding: 60px 30px 30px 30px;
}

.interview {
  text-align: left;

  &.thumbnail {
    border: 0;
    box-shadow: none;
  }

  .caption {
    margin-top: 30px;
    padding: 0;

    .title {
      min-height: 34px;
      padding: 0;
      font-size: 13px;
      font-style: italic;
      font-weight: 100;
      line-height: 1.3;
    }
  }

  > img {
    width: 166px;
    height: 166px;
    margin: 0;
    border-radius: 50%;
  }

  h4 { font-weight: bold; }

  p { font-weight: 100; }

  a {
    font-weight: bold;
    line-height: 1.3em;

    .chevron {
      position: relative;
      top: 4px;
      margin-left: 8px;
      font-weight: bold;
    }
  }
}

.logos {
  .body {
    padding: 30px 0;
  }

  .logo {
    padding-bottom: 30px;
    text-align: center;

    img { height: 50px; }

    p.descr { margin-top: 20px; }
  }
}

.logo-single-line {
  padding-bottom: 30px;
  text-align: center;

  a {
    display: inline-block;
    margin: 0 30px 30px 30px;
    vertical-align: middle;
  }
}

.solar-panel .logos .body {
  padding: 90px 0 60px 0;
}

.central-text .body {
  margin: 0;
  padding: 70px 0;
  font-weight: 100;
  text-align: center;

  a { font-weight: bold; }
}

.central-text-2 {
  margin: 0;
  padding: 0;
  font-weight: 100;
  text-align: center;

  .block {
    margin-bottom: 70px;
  }

  a { font-weight: bold; }
}

.magazines {
  background-color: $grey-color;

  .body {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

.magazines__wrapper {
  display: block;
  text-align: center;

  &,
  &:hover,
  &:active,
  &:visited,
  &:link {
    text-decoration: none;
  }
}

.magazines__image-container {
  img {
    width: 100%;
    max-width: 400px;
  }
}

.magazines__text {
  color: $pink-color;
  font-size: 2em;
  line-height: 1.2;
}

.magazines__text-upper,
.magazines__like_link {
  font-weight: bold;
}

.magazines__like_link {
  text-decoration: underline;
}

@media (max-width: $screen-md) {
  .magazines__table {
    display: block;
    padding-bottom: 35px;
  }

  .magazines__text {
    display: block;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1.5em;
    text-align: center;

    p {
      margin-bottom: 5px;
    }
  }

  .magazines__link {
    margin-top: 20px;
  }

  .magazines__image-container {
    display: block;
    width: 100%;
  }
}

.solar-panel .central-text .body {
  padding: 30px 0;
}

.buy .testimonial {
  .body {
    margin-top: 50px;
    padding-bottom: 100px;
  }

  .item {
    padding: 0 5%;
    text-align: center;
  }

  blockquote {
    border: 0;
    font-weight: bold;

    cite {
      display: block;
      margin-top: 10px;
      font-weight: normal;
    }
  }
}

.ambassador {
  .header { text-align: left; }

  .body {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .text h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
  }
}

.impressum {
  h4 {
    margin: 0;
    font-weight: bold;

    + p {
      margin-top: 0;
    }
  }

  p {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.big-image .image {
  width: 100%;
}

.header {
  @extend %header;
}

.white-circle {
  width: 210px;
  height: 210px;
  padding: 35px 15px 25px 45px;
  border-radius: 50%;
  background-color: $white-color;
  font-size: 20px;
  font-weight: bold;
}

.row-4 .interview .caption-l1 {
  min-height: 120px;
}

@media (min-width: 1200px) {
  .row-1 .interview .caption-l1 { min-height: 145px; }
  .row-2 .interview .caption-l1 { min-height: 145px; }
  .row-3 .interview .caption-l1 { min-height: 145px; }
  .row-4 .interview .caption-l1 { min-height: 170px; }
  .row-7 .interview .caption-l1 { min-height: 190px; }
}

@media (max-width: 1200px) {
  .row-1 .interview .caption-l1 { min-height: 170px; }
  .row-2 .interview .caption-l1 { min-height: 185px; }
  .row-3 .interview .caption-l1 { min-height: 167px; }
  .row-4 .interview .caption-l1 { min-height: 207px; }
  .row-6 .interview .caption-l1 { min-height: 205px; }
  .row-7 .interview .caption-l1 { min-height: 225px; }
}

@media (max-width: 991px) {
  .subscribe .white-circle {
    position: static;
    top: auto;
    left: auto;
    width: 100%;
    font-size: 20px;
  }

  .white-circle {
    height: auto;
    padding: 10px;
    border-radius: inherit;
    background-color: $white-color;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .interview h4 {
    min-height: 0;
  }

  .interview .caption .title {
    min-height: 0;
  }

  .interview > img {
    width: 134.5px;
    height: 134.5px;
    margin: 0;
  }

  .row-1 .interview .caption-l1,
  .row-2 .interview .caption-l1,
  .row-3 .interview .caption-l1,
  .row-4 .interview .caption-l1,
  .row-5 .interview .caption-l1,
  .row-6 .interview .caption-l1,
  .row-7 .interview .caption-l1 {
    min-height: 0;
  }
}

@media (max-width: 767px) {
  .ambassador .text {
    margin-top: 30px;
  }
}
