
@import "variables";
@import "fonts";
@import "mixin";
@import "common";
@import "button";
@import "logo";

@import "menu";
@import "footer";

@import "editions";
@import "subscribe";
@import "contact";
@import "partners";
@import "supporters";
@import "external_links";

@import "ambassador";
@import "impressum";

@import "magazines";
@import "testimonial";

@import "solar_about";
@import "solar_logos";

.interviews .body {
  padding: 60px 30px 30px 30px;
}

.interview {
  text-align: left;

  &.thumbnail {
    border: 0;
    box-shadow: none;
  }

  .caption {
    margin-top: 30px;
    padding: 0;

    .title {
      min-height: 34px;
      padding: 0;
      font-size: 13px;
      font-style: italic;
      font-weight: 100;
      line-height: 1.3;
    }
  }

  > img {
    width: 166px;
    height: 166px;
    margin: 0;
    border-radius: 50%;
  }

  h4 { font-weight: bold; }

  p { font-weight: 100; }

  a {
    font-weight: bold;
    line-height: 1.3em;

    .chevron {
      position: relative;
      top: 4px;
      margin-left: 8px;
      font-weight: bold;
    }
  }
}

.header {
  @extend %header;
}

@media (max-width: 991px) {
  .interview h4 {
    min-height: 0;
  }

  .interview .caption .title {
    min-height: 0;
  }

  .interview > img {
    width: 134.5px;
    height: 134.5px;
    margin: 0;
  }

  .caption-l1 {
    min-height: 0;
  }
}
